.App {
  text-align: center;
}

.accordion-container {
  position: relative;
  top: 6rem;
  width: 800px;
  /* height: 500px; */
  margin: 0 auto;
  border-radius: 15px;
  background: rgb(247, 247, 247);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.219);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-text {
  width: 200px;
  text-align: left;
  font-size: 2rem;
  margin: 1.25rem;
  color: rgb(53, 53, 53);
  font-weight: 400;
}
